<div class="background"></div>
<h1 class="game-title">Juego real de Ur</h1>
<div class="board-container">
  <div class="goal-chips-container">
    <img *ngFor="let c of getArray(blackChipsEndCount)" src="/assets/tiles/blackChip.png" alt="">
  </div>
  <div class="board">
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell chip-info" board-cell not-part>
      <div class="player-hud">
        <img src="/assets/tiles/blackChip.png" alt="">
        <span class="chip-count">{{blackChipsCount}}</span>
      </div>
    </div>
    <div class="cell chip-info" board-cell not-part></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
    <div class="cell chip-info" board-cell not-part>
      <div class="player-hud">
        <img src="/assets/tiles/whiteChip.png" alt="">
        <span class="chip-count">{{whiteChipsCount}}</span>
      </div>
    </div>
    <div class="cell chip-info" board-cell not-part></div>
    <div class="cell" board-cell></div>
    <div class="cell" board-cell></div>
  </div>
  <div class="goal-chips-container">
    <img *ngFor="let c of getArray(whiteChipsEndCount)" src="/assets/tiles/whiteChip.png" alt="">
  </div>
  <div class="turn-container">
    <span class="dice-number">{{numberRolled}}</span>
    <button (click)="handlePlayerTurn()" class="spin-button" [disabled]="!playerTurn">{{playerTurn? 'Lanzar' : 'Esperar'}}</button>
  </div>
</div>

<div class="winning-container hide" id="winning-container">
  <h2 class="winning-text" id="winning-text">Ganó!</h2>
  <button class="winning-button">Reiniciar</button>
</div>
